/*
* Color scheme from: https://color.adobe.com/Theme-2-color-theme-6131303
*/

@import "_card.scss";

$background-color: #222;
$highlight-color: #555;

html {
    position: relative;
    min-height: 100%;
}

h1 {
    padding: 20px;
    text-align: center;
    margin: 0;
}

.ng-leave {

}

.ng-enter {
  opacity:0;
}

.alert {
    border-radius: 0px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.png-icon{
    margin: 5px auto auto;
    padding: 0;
    display: inline-block;
    background-repeat: no-repeat no-repeat;
    pointer-events: none;
}

md-icon.fa {
  display: block;
  padding-left: 0px;
  font-size: 20px;
  padding: 4px;
}

.proverb {
    font-size: 15px;
    color: white;
    padding: 8px;
}

.proverb-grid {
    padding: 8px 16px;
    // background-color: $background-color;
}

.text-center {
    text-align: center;
}

.tile {
    background: url('../assets/img/noise.png');
}

.text {
    display: table-cell;
    vertical-align: middle;
}

.alphabet {
    font-size: 16px;
    letter-spacing: 8px;
}

button, body, select, html, textarea, input {
    font-family: 'Quando', 'Helvetica Neue', sans-serif;
}

.md-fab.md-raised {
    background-size: cover;
    box-shadow: none !important;
}

body {
    background-color: $background-color;
    color: #E6F1F5;
    padding: 0;
    font-family: 'Quando';
    margin-bottom: 80px;
}

.menu {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    text-shadow: 0 1px 0 #888;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #E7E3CC;
}

a:active, a:focus {
    color: #E7C299;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    // background-color: #f5f5f5;
    padding-top: 19px;
    background-color: #222;
    color: #777;
}

@media screen and (max-width: 1000px)  {
    font-size: 0.8em;
}
