/*
* Color scheme from: https://color.adobe.com/Theme-2-color-theme-6131303
*/
/* line 1, _card.scss */
.card {
  display: table;
  float: left;
  text-align: center;
  padding: 20px;
  margin: 6px;
  box-shadow: 0 2px 0 #888;
}

/* line 10, main.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 15, main.scss */
h1 {
  padding: 20px;
  text-align: center;
  margin: 0;
}

/* line 25, main.scss */
.ng-enter {
  opacity: 0;
}

/* line 29, main.scss */
.alert {
  border-radius: 0px;
}

/* line 33, main.scss */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* line 37, main.scss */
.png-icon {
  margin: 5px auto auto;
  padding: 0;
  display: inline-block;
  background-repeat: no-repeat no-repeat;
  pointer-events: none;
}

/* line 45, main.scss */
md-icon.fa {
  display: block;
  padding-left: 0px;
  font-size: 20px;
  padding: 4px;
}

/* line 52, main.scss */
.proverb {
  font-size: 15px;
  color: white;
  padding: 8px;
}

/* line 58, main.scss */
.proverb-grid {
  padding: 8px 16px;
}

/* line 63, main.scss */
.text-center {
  text-align: center;
}

/* line 67, main.scss */
.tile {
  background: url("../assets/img/noise.png");
}

/* line 71, main.scss */
.text {
  display: table-cell;
  vertical-align: middle;
}

/* line 76, main.scss */
.alphabet {
  font-size: 16px;
  letter-spacing: 8px;
}

/* line 81, main.scss */
button, body, select, html, textarea, input {
  font-family: 'Quando', 'Helvetica Neue', sans-serif;
}

/* line 85, main.scss */
.md-fab.md-raised {
  background-size: cover;
  box-shadow: none !important;
}

/* line 90, main.scss */
body {
  background-color: #222;
  color: #E6F1F5;
  padding: 0;
  font-family: 'Quando';
  margin-bottom: 80px;
}

/* line 98, main.scss */
.menu {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  text-shadow: 0 1px 0 #888;
}

/* line 104, main.scss */
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #E7E3CC;
}

/* line 112, main.scss */
a:active, a:focus {
  color: #E7C299;
}

/* line 116, main.scss */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  padding-top: 19px;
  background-color: #222;
  color: #777;
}

@media screen and (max-width: 1000px) {
  font-size: 0.8em;
}
