/*
* Color scheme from: https://color.adobe.com/Theme-2-color-theme-6131303
*/
/* line 1, _card.scss */
.card {
  display: table;
  float: left;
  text-align: center;
  padding: 20px;
  margin: 6px;
  box-shadow: 0 2px 0 #888;
}

/* line 7, main.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 15, main.scss */
.ng-enter {
  opacity: 0;
}

/* line 19, main.scss */
.alert {
  border-radius: 0px;
}

/* line 23, main.scss */
.proverb {
  color: white;
  padding: 8px;
}

/* line 28, main.scss */
.text-center {
  text-align: center;
}

/* line 32, main.scss */
.letter {
  font-size: 1.8em;
}

/* line 36, main.scss */
.text {
  display: table-cell;
  vertical-align: middle;
}

/* line 41, main.scss */
.card .text {
  font-size: 1.4em;
}

/* line 45, main.scss */
.alphabet {
  font-size: 16px;
  letter-spacing: 8px;
}

/* line 50, main.scss */
body {
  background-color: #AAB3B6;
  color: #E6F1F5;
  padding: 0;
  font-family: 'Quando';
  margin-bottom: 80px;
}

/* line 58, main.scss */
.menu {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  text-shadow: 0 1px 0 #888;
}

/* line 64, main.scss */
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #E7E3CC;
}

/* line 72, main.scss */
a:active, a:focus {
  color: #E7C299;
}

/* line 76, main.scss */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding-top: 19px;
  background-color: #222;
  color: #777;
}
