<div layout="row" layout-padding layout-align="space-between center">
    <div>
        <md-menu>
            <md-button class="md-raised" md-menu-origin ng-click="$mdOpenMenu()">
                <img ng-src="assets/img/flags/{{vm.currentLang.shortName}}.png" />
            </md-button>
            <md-menu-content width="2">
                <md-menu-item ng-repeat="language in vm.languages">
                    <md-button ui-sref="home({lang: language.shortName})">
                        <img ng-src="assets/img/flags/{{language.shortName}}.png" />
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</div>
